:root{

}
body{
    text-decoration: none;
    background-color: #3f51b5;
    
}

.backgraund{
    background-color: #2378FC;
}
.backgraund-color-section-two{
    background-color: #ffc31eaa;
}
.site-nav > li a {
    background-image: -moz-element();

}
.img{
    background-color: tomato;
    display: block;
}


.box{
    position: relative;
}

.paragr-box{
position: absolute;
top: 0;
background-color: rgba(136, 28, 212, .7);
    height: 60px;
        width: 350px;
}
.pe{
    color: red;
    text-align: center;
}

.thumb{

position: relative;

}

.page-heder{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box{
    text-align: center;
    padding: 10px 10px 10px 10px ;
    margin: 10px 1100px 10px 10px ;
    background-color: tomato;
    border-radius: 10px;
    /* border-color: green ; */
    border: 5px solid green;
    transition: backgraund-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    

}
.box2{
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 1100px 10px 10px;
    background-color: tomato;
    border-radius: 10px;
    /* border-color: green ; */
    border: 5px solid green;
    /* верхній лівий кут */
    border-top-left-radius: 10px;
    
    /* верхній правий кут */
    border-top-right-radius: 10px;
    
    /* нижній правий кут */
    border-bottom-right-radius: 10px;
    
    /* нижній лівий кут */
    border-bottom-left-radius: 10px;

    
}
.box:hover,
.box:focus{
    background: teal;
}
.box1:hover,
.box1:focus {
    background: teal;
}
.outer-box {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: rgba(2, 2, 2, 0.649);
}


.outer-box_text{

    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;

    color: white;
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;

        
}

.outer-box_inner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    background-color: rgb(161, 29, 73);

    transition: all 0.8s ease 0s;
}

.outer-box_inner-box:hover {
    transform: rotate3D(1, 2, 1, 45deg);
}


.outer-box_inner-box3D{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    background-color: rgb(29, 161, 62);
    
    transition: all 0.8s ease 0s;
}

.outer-box_inner-box3D:hover {
    
    transform: translate3D(20px, 20px, 50px) scale(1.5, 1);
}

.outer-box_inner-box2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    background-color: rgb(29, 60, 161);

    transform: translate(-50%, -50%);
    transition: all 0.8s ease 0s;
}

.outer-box_inner-box2:hover {
    transform: scale( 1.5);
}

.outer-box_inner-box3{

    position: absolute;
        top: 30%;
        left: 30%;
        width: 200px;
        height: 200px;
        margin-top: 40px;
        background-color: rgb(55, 93, 219);
    
        transition: all 0.8s ease 0s;
    
}

.outer-box_inner-box3:hover {
    transform: scale(1.5);
}

.outer-box_inner-box4 {

    position: absolute;
    top: 33%;
    left: 70%;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    background-color: rgb(5, 34, 130);

    transition: all 0.8s ease 0s;

}

.outer-box_inner-box4:hover {
    transform: scale(-1, 1);
}

.outer-box_inner-box5 {

    position: absolute;
    top: 33%;
    left: 10%;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    background-color: rgb(5, 34, 130);

    transition: all 0.8s ease 0s;

}

.outer-box_inner-box5:hover {
    transform: rotate(180deg);
}


.outer-box_inner-box6 {

    position: absolute;
    top: 30%;
    left: 85%;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    background-color: rgb(9, 27, 87);

    transition: all 0.8s ease 0s;
    transform: skew(10deg, 0deg);

}

.outer-box_inner-box6:hover {
    transform: skew(-10deg, 0deg);
}

.outer-box_inner-box7 {

    position: absolute;
    top: 3%;
    left: 55%;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    background-color: rgb(135, 142, 165);

    transition: all 0.8s ease 0s;
    transform-origin: top left;
}

.outer-box_inner-box7:hover {
    transform: rotate(60deg);
}


.box1 {
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: rgb(32, 32, 128);

    border-right-width: 5px;
    border-right-style: dotted;
    border-right-color: black;

    /* Встановить стилі нижньої рамки */
    border-bottom-width: 7px;
    border-bottom-style: dashed;
    border-bottom-color: palevioletred;

    /* Встановить стилі лівої рамки */
    border-left-width: 9px;
    border-left-style: dashed;
    border-left-color: green;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 1100px 10px 10px;
    background-color: blueviolet;
    border-radius: 10px;
    /* border-color: green ; */
    /* border: 5px solid green; */
}
/* ======================= */


body {
    background-color: #f9f9fd;
}

.box3 {
    width: 280px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    

}

.indigo {
    background-color: #3f51b5;
}

.green {
    background-color: #4caf50;
}

.amber {
    background-color: #ffc107;
}
.list-item{
    margin-bottom: 12px;
    border-radius: 2px;
    margin: 10px 1320px 10px 10px; 
    padding: 10px;
    width: 100;
    height: 150;
    background-color: red;
    border: 5px solid grey;
    text-align: center;
    border-radius: 50px;
    color:black
    ;
    font-weight: 10px;
}
.list-item:nth-of-type(4n) {
    background-color: #3f51b5;
}



textarea{
    resize: none;
}